<h2>input type="text" type="number" type="password"</h2>

<form class="js-submit" action="/forms" method="post">
  <input type="text" name="q" id="text"></input>
  <input type ="number" name="q" id="number"></input>
  <input type="password" name="q" id="password"></input>
  <button type="submit">Submit</button>
</form>

<script type="text/javascript">
$(".js-submit").on("submit", function(event){
  event.preventDefault();
  the_text = document.getElementById("text").value
  the_number = document.getElementById("number").value
  the_password = document.getElementById("password").value
  console.log("The text: " + the_text)
  console.log("The number: " + the_number)
  console.log("The password: " + the_password)
});
</script>
